footer{ background-color: #F9F8F7;

    .icons{
        display: inline-block;
        ul{
            text-align: center;
        }
        li{
            display: inline-block;
        }
        img{
            height: 45px;
        }
    }
}

