.landing-page-hero-images {
  // 100vh - HEADER
  background-color: #753990;
  height: 88vh;
  width: 100%;
  /*
  Set up 3 rows - top to be height of header
                - middle and bottom to hold Australia
                - bottom to hold 2 ladies
  Set up 2 columns - 1st big one to be Aus
                   - 2nd smaller one to be 2 ladies
  */
  display: grid;
  grid-template-columns: 10% 5% 40% 5% 40%;
  grid-template-rows: 30% 10% 15% 45%;

  .landing-page-hero-image-australia {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 5;

    .image-australia {
      height: 90%;
    }
  }

  .landing-page-hero-image-dancing {
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 5;

    .image-dancing {
      width: 90%;
    }
  }

  .landing-page-hero-image-logo {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;

    .image-logo {
      width: 70%;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
  }

  .landing-page-hero-quote {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 5;
    text-align: center;
    line-height: 0.5;

    p {
      color: white;
      letter-spacing: 2px;
    }

    .orange-text {
      // color: orange;

      // Same color????
      color: #f79525;
    }
  }
}
