.research-page {
  height: 100vh;
  padding-left: 40px;
  .research-page-title {
    padding-top: 10px;
    color: #f79525;
    font-size: 54px;
  }

  .text-italics {
    font-style: italic;
  }

  .research-page-subheading {
    font-size: 36px;
  }
}
